<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <script src="./index.js"></script>
</head>
<body>

    <form class="signin" action="/signin" method="POST">
        <input type="email" id="email" name="email" required placeholder="Enter Email">
        
        <input type="password" id="password" name="password" required placeholder="Enter Password">
        
        <button class="Signin" type="submit">Sign In</button> 
        <a href="https://e-commerce-f523.onrender.com/signup">Create Account</a>
    </form>
    
    
</body>
</html>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background-image: url('images/backgroundTwo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 95vh;
    }

    @media(min-width:360px) {


        .signin {
            display: flex;
            flex-direction: column;
             justify-content: center;
            align-items: center;
            padding: 0.9rem;
             margin: 1.4rem;
             border: 1px solid blueviolet;
             background-color: blueviolet;
             width: 58%;
            border-radius: 6px;
            margin-left: 19%;
            margin-top: 45%;
        }


    input {
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
    }
    .Signin {
        border: 1px solid grey;
        border-radius: 12px;
        background-color: darkslategrey;
        padding: 0.4rem;
        margin: 0.5rem;
        width: 40%;
    }
    a {
        text-decoration: none;
        color: white;
        border: 1px solid blue;
        background-color: blue;
        border-radius: 6px;
        padding: 0.3rem;
        font-size: 0.6rem;

    }
  }

  @media(min-width:1200px) {
    .signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    margin: 1.4rem;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    width: 18%;
    border-radius: 6px;
    margin-left: 41%;
    margin-top: 15%;
}


    input {
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
    }
    .Signin {
        border: 1px solid grey;
        border-radius: 12px;
        background-color: darkslategrey;
        padding: 0.4rem;
        margin: 0.5rem;
        width: 40%;
    }
    a {
        text-decoration: none;
        color: white;
        border: 1px solid blue;
        background-color: blue;
        border-radius: 6px;
        padding: 0.3rem;
        font-size: 0.6rem;

    }
  }





   
</style>
